{% extends 'frequencia/base.html' %}

{% block content %}
    {% for post in posts %}
    <h1>Rascunhos</h1>
        <div class="w3-card-4">
            
            <header class="w3-container w3-light-grey">
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            </header>
            

            <div class="w3-container">
                <br>
                {{ post.created_date }}

                <hr>

                <p>{{ post.text|truncatechars:200 }}</p>
                <br>
            </div>
   
            
        </div>
    {% endfor %}
{% endblock %}