{% load staticfiles %}
<html>
    <head>
        <title>SigaB</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/frequencia.css' %}">
    </head>
    <body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">SigaB</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'frequencia' %}">Frequencia</a></li>
	  <li class="active"><a href="{% url 'listaMateria' %}">Notas</a></li>
    </ul>
	


    <ul class="nav navbar-nav navbar-right">
      
      {% if user.is_authenticated %}
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Olá, {{ user.username }}</a></li>
      <li><a href={% url 'logout'%}><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>

      {% else %}
  	  <li><a href={% url 'login'%}><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
      {% endif %}

    </ul>
  </div>
</nav>
	
	<div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
            </div>
        </div>
      
  <div class="row">
  <hr>
    <div class="col-lg-12">
      <div class="col-md-8">
        <a href="#">Nossos termos</a> | <a href="#">Entre em Contato</a>    
      </div>
      <div class="col-md-4">
        <p class="muted pull-right">© 2018. Com mais bugs que o SigaA.</p>
      </div>
  </div>
</div>

      </div>

   </body>
</html>