{% extends 'frequencia/base.html'%}

{% block content%}

    <div class="list-group">
    {% for materia in materias %}
     
    <table class="table">
      <tr>
        <th>Aluno</th>
        <th>Nota 1</th>
        <th>Nota 2</th>
        <th>Nota 3</th>
        <th>Nota 4</th>
      </tr>
      {% for aluno in materia.alunos.all %} 
        <tr>

        <td>{{aluno.nome}} <a class="btn btn-primary btn-circle"  href="{% url 'alunoEdit' pk=aluno.pk %}" title="Editar"><span class="glyphicon glyphicon-edit"></span></a></td>
        {% for nota in notas %} 
          {%if aluno == nota.aluno and nota.materia == materia%}

            <td class="nota">{{nota.valorNota}}</td>
         
          {%endif%}
    
      {% endfor %}  

              <td class="botao"><div id="{{materia.id}}_{{aluno.id}}">
                <button type="button" class="btn btn-success btn-circle btn-lg"><i class="glyphicon glyphicon-plus "></i></button>
                <input class="input col-xs-2" placeholder="Valor" type="number" name="nota"/>
                <input class ="materia"type="hidden" data-materia="{{materia.id}}">
               <input class = "aluno" type="hidden" data-aluno="{{aluno.id}}">
               
              </div>
</td>
      <!-- aluno e materia -->
        
    
      {% endfor %} 
    <br>

    
     <h2>{{materia.nome}} <a class="btn btn-primary btn-circle"  href="{% url 'materiaEdit' pk=materia.pk %}" title="Editar"><span class="glyphicon glyphicon-edit"></span></a>
</h2>
      <!-- <button type="button" class="btn btn-success btn-circle btn-lg"><i class="glyphicon glyphicon-edit"></i></button></h2>  -->
    {% endfor %}

</table>
     <input type="hidden" id="urlInserirNota" data-url="{% url 'inserirNota' pkMateria=0 pkAluno=0 nota=0%}" />
     <input type="hidden" id="urlAtualizaNota" data-url="{% url 'atualizaNotaAjax' pkMateria=0 pkAluno=0%}}" />
    
    </div>  

{%endblock%}

{% load staticfiles %}

{% block js %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}