{% extends "frequencia/base.html" %}


{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'novamateria' %}">
    {% csrf_token %}
        
            {{ form.nome.label_tag }}
            {{ form.nome}}
        <br>
            {{ form.professor_responsavel.label_tag }}
            {{ form.professor_responsavel }}
       <br>
            {{ form.alunos.label_tag }}
            {{ form.alunos }}
        <br>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
       
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}