{% extends "frequencia/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    {% if form.errors %}
        <p>Login ou Senha Inválidos</p>
    {% endif %}
    <div class="container-fluid">
    
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    


    {{ form|crispy }}



    <input type="submit" class="btn btn-primary" value="Logar" />
    <input type="hidden" name="next" value="{{ next }}" />
    
</form>
    </div>
    {% endblock %}
    
    
    
    
    
    
    
    
    
    
    